ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, body, html, p, blockquote, fieldset, input {
margin: 0;
padding: 0;
}
* {
margin: 0;
padding: 0;
}
body {
background-color: #aaa;
font-family: "lucida grande", tahoma, verdana, arial, sans-serif;
}
header {
background-color:rgba(33, 33, 33, 0.9);
color:#fff;
display:block;
font: 14px/1.3 Arial,sans-serif;
margin-bottom: 10px;
position:relative;
}
header h2{
font-size: 22px;
margin: 0px auto;
padding: 10px 0;
width: 80%;
text-align: center;
}
header a, a:visited {
text-decoration:none;
color:#fcfcfc;
}
.titre {
font: bold 65px/60px Helvetica, Arial, Sans-serif;
text-align: center;
color: #dd3c10;
text-shadow: 0px 2px 6px #333333;
}
.extrait {
    font: bold 25px/20px Helvetica, Arial, Sans-serif;
    text-align: center;
    color: #000000;
    text-shadow: 0px 2px 6px #333333;
    padding: 50px 0px 50px 0px;
}
.btn-post{
    font: bold 25px/20px Helvetica, Arial, Sans-serif;
    text-align: center;
    /* color: #000000; */
    text-shadow: 0px 2px 6px #333333;
    padding: 30px 0px 30px 0px;
    margin: 0px 10% 0px 10%
}
.txt {
    color: #EEEEEE;
    font-size: 12px;
}
.game {
    font: bold 35px/30px Helvetica, Arial, Sans-serif;
    text-align: center;
    color: #000000;
    text-shadow: 0px 2px 6px #333333;
}
.game-win {
    font: bold 35px/30px Helvetica, Arial, Sans-serif;
    text-align: center;
    color: #00fd00;
    text-shadow: 0px 2px 6px #333333;
}
.game-lose {
    font: bold 35px/30px Helvetica, Arial, Sans-serif;
    text-align: center;
    color: #860101;
    text-shadow: 0px 2px 6px #333333;
}
h1 small {
font-size: 20px;
text-transform: uppercase;
letter-spacing: 14px;
display: block;
color: #ccc;
}
h2 a {
display: block;
text-decoration: none;
margin: 0 0 20px 0;
font: italic 45px Georgia, Times, Serif;
text-align: center;
color: #eceff6;
text-shadow: 0px 2px 6px #333;
}
h2 a:hover {
color: #d4dae8;
}
h3 a {
display: inline;
text-decoration: none;
margin: 10px 0 25px 10px;
font: italic 20px Ubuntu, Georgia, Times, Serif;
text-align: center;
color: #eceff6;
text-shadow: 0px 2px 6px #333;
}
h3 a:hover, a:visited {
font-size: 25px;
color: #d4dae8;
}
p {
padding: 5px 10px;
}
a {
color: #AF7F00;
text-decoration: underline;
}
a:hover {
text-decoration: none;
}
/* COMMON CLASSES */
.break {
clear: both;
}
/* WRAPPER */
#wrapper {
width: auto;
margin: 50px auto 50px;
}
/* CONTENT */
#content {
width: 100%;
margin: 0 auto;
}
#content p {
margin-bottom: 20px;
color: #eceff6;
}
#content p a {
color: #3b5998;
text-decoration: none;
}
#content p a:hover {
    text-decoration: underline;
}
#content .reference {
text-align: justify;
}
#content h3 {
color: #e2c822;
margin: 10px 0;
text-align: justify;
}
/* FACEBOOK LOADER */
.loader {
width: 32px;
height: 32px;
margin: 0 auto;
}
/* Initial state */
.bar {
background-color: #99aaca;
border: 1px solid #96a6c9;
float: left;
margin-right: 4px;
margin-top: 6px;
width: 6px;
height: 18px;
/* Set the animation properties */
animation-duration: 1s;
animation-iteration-count: infinite;
animation-name: loadingbar;
}
.loader .bar:last-child {
margin-right: 0px;
}
/* Delay both the second and third bar at the start */
.loader .bar:nth-child(2) {
animation-delay: 0.1s;
}
.loader .bar:nth-child(3) {
animation-delay: 0.2s;
}
/* The actual animation */
@keyframes loadingbar {
0% {
}
10% {
margin-top: 5px;
height: 22px;
border-color: #d1d8e6;
background-color: #bac5db;
}
20% {
margin-top: 0px;
height: 32px;
border-color: #d1d7e2;
background-color: #c6ccda;
}
30% {
margin-top: 1px;
height: 30px;
border-color: #d1d8e6;
background-color: #bac5db;
}
40% {
margin-top: 3px;
height: 26px;
}
50% {
margin-top: 5px;
height: 22px;
}
60% {
margin-top: 6px;
height: 18px;
}
70% {
}
/* Missing frames will cause the extra delay */
100% {
}
}
/* HTML5 Audio player with playlist styles */
.playerAudio {
margin: 20px auto 10px auto;
width: 100%;
}
.player {
background: transparent url("../images/icones/spr.png") no-repeat scroll center top;
height: 162px;
position: relative;
width: 326px;
z-index: 2;
}
.title, .artist {
font-family: verdana;
left: 167px;
position: absolute;

-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;
}
.title {
color: #FFFFFF;
font-size: 14px;
font-weight: bold;
top: 23px;
}
.artist {
color: #EEEEEE;
font-size: 12px;
top: 40px;
}
.pl {
background: transparent url("../images/icones/spr.png") no-repeat scroll -274px -175px;
cursor: pointer;
height: 34px;
left: 270px;
position: absolute;
top: 20px;
width: 32px;
}
.pl:hover {
top: 21px;
}
.cover {
background: transparent url("../data/cover/cover1.jpg") no-repeat scroll center top;
border-radius: 5px 5px 5px 5px;
height: 94px;
left: 20px;
position: absolute;
top: 20px;
width: 94px;
}
.controls {
cursor: pointer;
height: 23px;
left: 167px;
position: absolute;
top: 65px;
width: 138px;
}
.controls .play, .controls .pause, .controls .rew, .controls .fwd {
background: transparent url("../images/icones/spr.png") no-repeat scroll 0 0;
float: left;
height: 100%;
width: 33%;
}
.controls .play {
background-position: -8px -171px;
}
.controls .pause {
background-position: -8px -198px;
display: none;
}
.controls .rew {
background-position: -54px -171px;
}
.controls .fwd {
background-position: -100px -171px;
}
.controls .play:hover {
background-position: -8px -170px;
}
.controls .pause:hover {
background-position: -8px -197px;
}
.controls .rew:hover {
background-position: -54px -170px;
}
.controls .fwd:hover {
background-position: -100px -170px;
}
.hidden {
display: none;
}
.controls .visible {
display: block;
}
.volume {
height: 11px;
left: 186px;
position: absolute;
top: 96px;
width: 112px;
}
.tracker {
height: 15px;
left: 20px;
position: absolute;
top: 126px;
width: 285px;
}
.ui-slider-range {
background: transparent url("../images/icones/spr.png") no-repeat scroll 5px -222px;
height: 100%;
position: absolute;
top: 0;
}
.ui-slider-handle {
cursor: pointer;
height: 10px;
margin-left: -5px;
position: absolute;
top: 2px;
width: 10px;
z-index: 2;
}
.volume .ui-slider-handle {
background: url("../images/icones/spr.png") no-repeat scroll -201px -188px rgba(0, 0, 0, 0);
height: 13px;
width: 13px;
}
.playlist {
background-color: #333333;
border-radius: 5px 5px 5px 5px;
list-style-type: none;
margin: -10px 0 0 2px;
padding-bottom: 10px;
padding-top: 15px;
position: relative;
width: 326px;
z-index: 1;
}
.playlist li {
color: #EEEEEE;
cursor: pointer;
margin: 0 0 5px 15px;
}
.playlist li.active {
font-weight: bold;
}
/* SOCIAL ICONS - GENERAL */
.social {
list-style: none;
margin: 0px 52px;
}
.social li {
display: inline;
background-repeat: no-repeat;
}
.social li a {
display: block;
width: 48px;
height: 48px;
padding-right: 6px;
padding-top: 6px;
position: relative;
text-decoration: none;
}
.social li a strong {
    font-weight: normal;
    position: absolute;
    left: 20px;
    top: -1px;
    color: #fff;
    padding: 3px;
    z-index: 9999;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.75);
    background-color: rgba(0, 0, 0, 0.7);
    -moz-border-radius: 3px;
    -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    -webkit-border-radius: 3px;
    -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    border-radius: 3px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}
li.delicious {
background-image: url("/data/images/icones/delicious.png");
}
li.digg {
background-image: url("/data/images/icones/digg.png");
}
li.facebook {
background-image: url("/data/images/icones/facebook.png");
}
li.flickr {
background-image: url("/data/images/icones/flickr.png");
}
li.linkedin {
background-image: url("/data/images/icones/linkedin.png");
}
li.reddit {
background-image: url("/data/images/icones/reddit.png");
}
li.rss {
background-image: url("/data/images/icones/rss.png");
}
li.twitter {
background-image: url("/data/images/icones/twitter.png");
}
/* SOCIAL ICONS - CSS3 */
#css3:hover li {
opacity: 0.2;
}
#css3 li {
transition-property: opacity;
transition-duration: 500ms;

}
#css3 li a strong {
opacity: 0;
transition-property: opacity, top;
transition-duration: 300ms;

}
#css3 li:hover {
opacity: 1;
}
#css3 li:hover a strong {
opacity: 1;
top: -10px;
}

/* formulaire de connexion */

/* body{
    background: #67BE4B;
} */
#container{
    width:400px;
    margin:0 auto;
    margin-top:10%;
}
/* Bordered form */
.formfull {
    width:100%;
    padding: 30px;
    border: 1px solid #f1f1f1;
    background: #fff;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
#container h1{
    width: 38%;
    margin: 0 auto;
    padding-bottom: 10px;
}

/* Full-width inputs */
input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

/* Set a style for all buttons */
input[type=submit] {
    background-color: #53af57;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}
input[type=submit]:hover {
    background-color: white;
    color: #53af57;
    border: 1px solid #53af57;
}